main {
  background-image: url("../img/portada.jpg");
  height: 18em;
  padding: 0em;
  background-size: cover;
  background-position: center;
  margin: 2em;
}

main h1  {
  color: rgb(234, 126, 17);
  margin: 0px;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}

main p{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 196, 0);
    font-size: 30px;
    position: relative;
    top: -40px;
    left: 8px;

}
span{
    font-family: 'Water Brush', cursive;
    color: rgb(238, 66, 13);
    
}


img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 2em;
}

section p{
    position: relative;
    left: 275px;
    top: -130px;
    font-size: 22px;
    font-family: 'Sora', sans-serif;
    
}

section span{
  font-family: 'Neucha', cursive;
}

footer{
    background-color: brown;
    text-align: center;
    font-size: 30px;
    margin: 1em;
    color: rgb(255, 255, 255);
}

